@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

button{
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: purple;
}

button:hover{
    background-color: rgb(58, 1, 58);
}

.color-resaltado{ color: purple;}

header{
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(/img/Kars.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .90);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px;
    transition: all .5s;
}

.nav-menu li a{
    color: white;
    font-size: 20px;
    text-transform: initial;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: purple;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

.banner-text{
    padding: 0 30px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.banner-text h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.banner-text span{
    color: purple;
}

.banner-text h2{
    font-size: 30px;
    font-weight: 600;
}

#Pensamientos .container{
    text-align: center;
    color: black;
    padding: 200px 12px;
    background-color: rgb(243, 240, 237);
}

#Pensamientos .text{
    margin: 0 20px;
}

#Pensamientos .text h2{
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

#Todo{
    text-align: center;
    color: white;
    padding:200px 12px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.60),
        rgba(0,0,0,0.60)
    ), url(/img/amorhermoso.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Todo .text{
    margin: 0 20px;
}

#Todo h2{
    padding-bottom: 20px;
    font-size: 50px;
}

#Mente .container{
    text-align: center;
    color: black;
    padding: 200px 12px;
    background-color: rgb(243, 240, 237);
}

#Mente .text{
    margin: 0 20px;
}

#Mente .text h2{
    padding-bottom: 20px;
    font-size: 50px;
}

#CuentaRegresiva .container{
    text-align: center;
    color: white;
    padding: 200px 12px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.80),
        rgba(0,0,0,0.80)
    ), url(/img/curp.jpg);
    background-position: center;
    background-size: cover;
}

#CuentaRegresiva .text{
    margin: 0 20px;
}

#CuentaRegresiva .text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

footer{
    background-color: rgb(53, 1, 53);
}

footer p{
    margin: 0;
    padding: 12px;
    color: white;
    text-align: center;
}

footer .container{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* A partir de aqui es responsive, antes es vista de Movil. */

@media screen and (min-width: 768px) {
    .logo{
        margin-left: 50px;
    }

    nav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position:relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 30px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 30px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 15px;
    }

    .banner-text{
        padding: 0 30px;
        margin-top: 150px;
        text-align: center;
        color: white;
    }

    .banner-text h1{
        font-size: 100px;
        margin-bottom: 30px;
    }

    .banner-text h2{
        font-size: 50px;
    }

    #Pensamientos .container{
        display: flex;
        justify-content: center;
    }

    #Pensamientos .text{
        width: 50%;
        max-width: 500px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #Pensamientos .img-container{
        background-image:url(/img/manitas.PNG);
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 500px;
    }

    #Todo .container{
        display: flex;
        justify-content: center;
    }

    #Todo .text{
        width: 50%;
        font-size: 18px;
    }

    #Mente .container{
        display: flex;
        justify-content: center;
    }

    #Mente .text{
        width: 50%;
        max-width: 1000px;
        padding: 10px 30px;
        justify-content: center;
    }

    footer .container{
        height: 50px;
    }

}
